header {
  font-family: 'Cedarville Cursive', cursive;
  font-size:30px;
  height:500px;
  padding:50px;
  background-image: url(https://scontent-cdt1-1.cdninstagram.com/vp/0c0d5dfb5a2e8c38fb1d00a4c02caf00/5C189BC9/t51.2885-15/e35/40032578_306149900211158_2305910916941611008_n.jpg?_nc_eui2=AeEDVs6vIpSQOFJLpE-AF2ePHVgb_L6E3oyDH6GAFCDoy3hhxhweg2t6iZDQSM33Cz60JQEMunx7gKyvswnpYE1f);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 55%;
  overflow:hidden;
}

nav {
  font-size:20px;
  margin-right: 100px;
  margin-left:100px;
  display:flex;
  justify-content: space-around;
  text-decoration: none;
  font-family: 'Poiret One', cursive;

}

a:link {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: #7f8896;
}

/* visited link */
a:visited {
    color: #7f8896;
}

/* mouse over link */
a:hover {
    color: #a4bfab;
}

/* selected link */
a:active {
    color: #24254c;
}


body {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color:#504d59;
  margin:0;
  background-color: #eff0f9;
}
h2 {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}
  

#Intro {
  background-color:#e6e3f2;
  margin:0;
  padding:50px;
}

.container  {
    width: 800px;
    height: 800px;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* resize images */

.container img {
    width: 45%;
    height: 45%;
}

#story {
  padding:50px;
  margin-right: 100px;
  margin-left: 100px;
}

#family img {
    width: 80%;
    height: 80%;
    padding-bottom: 20px;
    padding-top:20px;
}

footer {
font-family: 'Poiret One', cursive;
padding:50px;
background-color: #e6e3f2;
}
